/* Importando fonte roboto do google */
@import
	url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,400;0,700;1,100;1,400;1,700&display=swap')
	;

* {
	box-sizing: border-box;
}

/*Configura��o para todo o corpo da p�gina */
body {
	display: flex;
	background: url("../img/fundo-cadastro.jpg") fixed bottom;
	background-size: cover;
	height: calc(600px - 22px);
	justify-content: center;
	align-items: center;
	flex-direction: column;
	font-family: "roboto";
	margin: 0px;
	padding: 0px;
}

/*Configura��o do h1, titulo de registro da p�gina */
h1 {
	font-family: "roboto";
	font-weight: bold;
	text-transform: uppercase;
	font-style: italic;
	font-size: 30px;
	color: white;
	text-align: left;
	margin-top: -5%;
	
	
}
/*Configura��o do h2, subtitulo de registro da p�gina */
.subtitulo-cadastro {
	color: white;
	font-size: 15px;
	text-transform: uppercase;
	font-style: italic;
	text-align: left;
	margin-top: -2%;
}

/* Bot�o de voltar para p�gina inicial */
#btn_inicial {
	background-color: #228b22;
	border: #228b22 solid 2px;
	border-radius: 6px;
	padding: 10px;
	color: white;
	font-size: 18px;
	font-weight: 600;
	z-index: 100;
	left: 5px;
	position: absolute;
}

a {
	color: #333;
	font-size: 14px;
	text-decoration: none;
	margin: 15px 0;
}

/* Configura��es do bot�o de registro */
button {
	border-radius: 20px;
	border: rgb(34, 139, 34) solid 1px;
	color: white;
	background-color: rgb(34, 139, 34);
	padding: 12px 45px;
	font-size: 18px;
	text-transform: uppercase;
	font-style: italic;
}

button:hover {
	color: #228b22;
	background-color: white;
	border: rgb(34, 139, 34) solid 1px;
}

/* Inicio da configura��es do formul�rio de registro */
form {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0 40px;
	height: 100%;
	text-align: center;
}

/* Configura��es das layers de input do form */
input {
	background: rgba(43, 38, 38, 0.3);
	backdrop-filter: blur(2.5px);
	-webkit-backdrop-filter: blur(2.5px);
	border-radius: 10px;
	padding: 12px 15px;
	margin: 8px 0;
	width: 100%;
	color: white;
}

::placeholder {
	color: white;
}

.imagem-logo {
	font-family: "roboto";
	font-weight: bold;
	text-transform: uppercase;
	font-style: italic;
	font-size: 20px;
	color: white;
	text-align: center;
	margin: 0;
}

/* Configura��o da primeira div de registro */
.registro-loja {
	left: 0;
	width: 50%;
	position: absolute;
	top: 0;
	height: 100%;
}

/* Configura��o da segunda div de registro */
.registro-loja-2 {
	width: 50%;
	margin-left: 50%;
	margin-top: 2%;
}
