@import
	url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,400;0,700;1,100;1,400;1,700&display=swap')
	;

body {
	margin: 0px;
	padding: 0px;
	background: url("../img/fundo-verde.jpg") fixed bottom;
	font-family: 'roboto';
}

/* Menu principal do site */
.logotipo {
	width: 75px;
	height: 60;
	margin-top: 10px;
	margin-left: 5px;
}

.texto-pag {
	margin-left: 10px;
	font-style: italic;
	font-weight: 700;
	text-transform: uppercase;
	color: #228B22;
	font-size: 30px;
	position: absolute;
	top: 1%
}

.inicial {
	position: static;
	background-color: white;
	z-index: 3;
}

.bottom {
	color: rgb(34, 139, 34);
}

.cadastro {
	color: white;
	background-color: rgb(34, 139, 34);
	transition: all .3s;
	font-size: 18px;
}

.cadastro:hover {
	color: white;
	background-color: rgb(34, 139, 34);
	border: rgb(34, 139, 34) solid 3px;
}

#cadastro_2 {
	color: white;
	background-color: rgb(34, 139, 34);
}

#cadastro_2:hover {
	color: rgb(34, 139, 34);
	background-color: white;
}

.material-icons {
	color: rgb(34, 139, 34);
}
/* Fim das configura��es do menu principal */

/* Criando espa�o em branco, definindo se um elemento deve ser 
movido abaixo (limpo) elementos flutuantes que o precedem. 
A propriedade se aplica a elementos flutuantes e n�o flutuantes. */
.espaco-em-branco {
	clear: both;
}
/* Controle da div identidade painel, respons�vel pela cria��o de todo 
o painel da p�gina de administra��o */
#painel {
	transition: margin-left .5s;
	padding: 16px;
}

/* Controle das 4 caixas superiores do painel */
.caixas {
	display: flex;
	justify-content: center;
}

.caixa {
	width: 25%;
	float: left;
}

.sub-caixa {
	width: 85%;
	height: 100px;
	background-color: #228B22;
	margin-left: 10px;
	padding: 10px;
}

.sub-caixa p {
	font-size: 35px;
	color: white;
	font-weight: bold;
	line-height: 30px;
	padding-left: 10px;
	margin-top: 20px;
	display: inline-block;
}

.sub-caixa sp span {
	font-size: 20px;
	font-weight: 400;
	color: white;
}

.box-icon {
	font-size: 40px !important;
	float: right;
	margin-top: 35px !important;
	color: white;
	padding-right: 10px;
}
/* Fim do controle das 4 caixas superiores do painel */

/* Inicio do controle dos 2 blocos do painel.
 Posi��o, tamanho do bloco */
.bloco-1, .bloco-3 {
	width: 70%;
	float: left;
}

.bloco-2 {
	width: 30%;
	float: right;
}

.bloco-3 {
	padding-bottom: 30px;
}

.texto-bloco {
	padding: 20px;
}

.texto-bloco p {
	margin: 0px;
	font-size: 30px;
	font-style: italic;
	color: white;
	display: flex;
}

.texto-bloco .agenda {
	text-align: center;
	font-size: 30px;
}

.btn-mais {
	float: right;
	display: flex;
	background-color: white;
	color: #228B22;
	padding: 3px 10px;
	font-size: 15px;
}

.container-2 {
	height: 400px;
	background-color: #228B22;
}

.container-1, .container-3 {
	margin-left: 10px;
	background-color: #228B22;
	width: 600px;
	height: 400px;
}
/* Fim do controle dos 2 blocos do painel */

/* Tabela */
table {
	font-family: roboto;
	border-collapse: collapse;
	width: 100%;
}

td, th {
	text-align: left;
	padding: 15px;
	color: #ddd;
	border-bottom: 1px solid #81818140;
}

.circle-wrap {
	margin: 50px auto;
	width: 150px;
	height: 150px;
	background: #ffffff;
	border-radius: 50%;
}

.circle-wrap .circle .mask, .circle-wrap .circle .fill {
	width: 150px;
	height: 150px;
	position: absolute;
	border-radius: 50%;
}

.circle-wrap .circle .mask {
	clip: rect(0px, 150px, 150px, 75px);
}

.circle-wrap .circle .mask .fill {
	clip: rect(0px, 75px, 150px, 0px);
	background-color: #f7403b;
}

.circle-wrap .circle .mask.full, .circle-wrap .circle .fill {
	animation: fill ease-in-out 3s;
	transform: rotate(126deg);
}

@
keyframes fill { 0% {
	transform: rotate(0deg);
}

100%
{
transform



rotate



(126
deg



);
}
}
.circle-wrap .inside-circle {
	width: 130px;
	height: 130px;
	border-radius: 50%;
	background: #fff;
	line-height: 130px;
	text-align: center;
	margin-top: 10px;
	margin-left: 10px;
	position: absolute;
	z-index: 100;
	font-weight: 700;
	font-size: 2em;
}
