/* Configura��es globais da p�gina */
@import
	url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,400;0,700;1,100;1,400;1,700&display=swap')
	;

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
/* Configura��o do corpo do site */
body {
	background: url("../img/fundo-verde.jpg") fixed bottom;
}

/* Menu principal do site */
#logo {
	width: 75px;
	height: 50;
	margin-top: 10px;
	margin-left: 5px;
}

.inicial {
	position: static;
	background-color: white;
	z-index: 3;
}

.bottom {
	color: rgb(34, 139, 34);
}

.login {
	color: white;
	background-color: rgb(34, 139, 34);
	transition: all .3s;
	font-size: 18px;
	display: flex;
}

.login:hover {
	color: white;
	background-color: rgb(34, 139, 34);
	border: rgb(34, 139, 34) solid 3px;
}

#login_2 {
	color: white;
	background-color: rgb(34, 139, 34);
}

#login_2:hover {
	color: rgb(34, 139, 34);
	background-color: white;
}

.material-icons {
	display: flex;
	margin-left: 10px;
	color: white;
}
/* Fim das configura��es do menu principal */

/* Inicio das configura��es da barra de pesquisa da tela do usu�rio */
.container-busca {
	margin-top: 1%;
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: 'roboto';
}
/* Configura��es da barra de busca */
.barra-busca {
	position: relative;
	padding: 15px;
	border-radius: 50px;
	display: flex;
	width: 500px;
	height: 80px;
}
/* Configura��es da exibi��o do bot�o de busca */
.busca_btn {
	width: 50px;
	height: 50px;
	border-radius: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
	margin-right: 10px;
	cursor: pointer;
}

.barra-busca, .busca_btn {
	background: rgba(43, 38, 38, 0.3);
	box-shadow: 0 8px 32px 0 rgba(70, 70, 70, 0.37);
	backdrop-filter: blur(3.5px);
	-webkit-backdrop-filter: blur(3.5px);
}
/* Configura��es da exibi��o do texto do input 
do usu�rio na barra de busca */
.input_busca {
	padding: 0px 20px;
	color: white;
}
/* Fim das configura��es da barra de pesquisa da tela do usu�rio */

/* Inicio da sess�o lojas
Configura��o do tamanho da div da sess�o / defini��o da imagem de fundo 
/ configura��es gerais a div */
.sessao_loja {
	text-align: center;
	padding: 10px;
	padding-bottom: 50px;
	justify-content: center;
	align-items: center;
	font-style: italic;
	text-transform: uppercase;
}

/* Configura��o geral de exibi��o do container, para os cart�es */
.container {
	display: flex;
	justify-content: center;
}

/* Configura��o da tag h2 de todos os cards */
.container h2 {
	color: white;
	font-size: 25px;
	font-weight: 700;
	font-style: italic;
	text-transform: uppercase;
	padding-top: 10px;
	padding-bottom: 10px;
}

/* Configura��o geral para todos os card das lojas, exibindo a transpar�ncia e os efeitos */
.card_lojaA, .card_lojaB, .card_lojaC {
	margin: 5px;
	width: 400px;
	height: 600px;
	background: rgba(43, 38, 38, 0.3);
	box-shadow: 0 8px 32px 0 rgba(70, 70, 70, 0.37);
	backdrop-filter: blur(3.5px);
	-webkit-backdrop-filter: blur(3.5px);
	border-radius: 10px;
	border: 1px solid rgba(255, 255, 255, 0.18);
	float: left;
	position: relative;
}
/* Configura��o das imagens das logomarcas */
.image {
	display: inline-block;
	width: 180px;
	height: 180px;
	border-radius: 25px;
	background: #e0e0e0;
	box-shadow: 10px 10px 40px rgb(27, 27, 27), -10px -10px 40px
		rgb(27, 27, 27);
}

/* Configura��o da tag p dentro do container */
.endereco, .cep, .telefone, .estado {
	color: white;
	font-size: 16px;
	font-weight: 600;
	font-style: italic;
	margin-top: 5px;
}

.endereco {
	margin-top: 20px;
}

.estado {
	margin-bottom: 40px;
}
/* Fim da sess�o loja */

/* Bot�o */
.btn-agendamento {
	border-radius: 20px;
	border: rgb(34, 139, 34) solid 1px;
	color: white;
	background-color: rgb(34, 139, 34);
	padding: 10px 35px;
	font-size: 15px;
	text-transform: uppercase;
	font-style: italic;
	margin-top: 40px;
}

.btn-agendamento:hover {
	color: #228b22;
	background-color: white;
	border: rgb(34, 139, 34) solid 1px;
}
/* Fim bot�o */

/* Inicio do rodap�  
configura��es */
.rodape {
	background-color: #26272b;
	padding: 45px 0 20px;
	font-size: 18px;
	line-height: 24px;
	color: white;
	text-align: center;
}
/* Defini��o da linha divisoria do rodap� */
.divisoria-rodape {
	opacity: 0.5;
	padding-left: 250px;
	width: 80%;
	color: white;
}
/* Defini��o de cor do link da StartLatam e Accenture */
.rodape a {
	color: #A100FF;
}
/* Estiliza��o de hover do link da StartLatam e Accenture */
.rodape a:hover {
	text-decoration: overline;
}

/* Configura��o da classe do copyright  */
.copyright {
	margin: 0;
	padding-top: 20px;
	color: white;
	font-style: italic;
	font-size: 18px;
}

/* Alinhamento dos icones sociais � direita da p�gina */
.rodape-container .social-icons {
	padding-top: 20px;
	align-content: center;
}

/* Configura��o da borda redonda envolta dos icones sociais */
.rodape-container .social-icons a {
	width: 40px;
	height: 40px;
	line-height: 40px;
	margin-left: 6px;
	margin-right: 0;
	border-radius: 100%;
	background-color: #33353d;
}
/* Posi��o lado a lado dos icones sociais  */
.social-icons li {
	display: inline-block;
}
/* Controle dos icones sociais
tamanho, posi��o, dura��o da transi��o do efeito do hover */
.social-icons a {
	font-size: 16px;
	display: inline-block;
	line-height: 44px;
	width: 44px;
	height: 44px;
	text-align: center;
	margin-right: 8px;
	border-radius: 100%;
	-webkit-transition: all .2s linear;
	-o-transition: all .2s linear;
	transition: all .2s linear;
}
/* Defini��o da cor do hover dos icones sociais */
.social-icons a:hover {
	background-color: #228B22;
}
/* Fim do rodap� */
